{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Hey Nerd!</h1>
    <p class="lead">Wanna lift?</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Log a workout</h2>
        <p>
            Record a new workout in an existing programme
        </p>
        <p><a class="btn btn-default" href="http://www.djangobook.com/en/2.0/index.html">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Make a new programme</h2>
        <p>Time to change it up? Yay!</p>
        <p><a class="btn btn-default" href="https://pypi.python.org/pypi">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Add exercise</h2>
        <p>Gonna do us some new shit all up in here. No balancing on Swiss balls please.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Go &raquo;</a></p>
    </div>
</div>

{% endblock %}
